@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&family=Roboto:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&family=Roboto:wght@300;400;500&family=Shrikhand&display=swap');

%flex-center
{
    display: flex;
    justify-content: center;
    align-items: center;
}

%roboto{
    font-family: 'Roboto', sans-serif;
}
%shriklands{
    font-family: 'Shrikhand', sans-serif;
}
%fontW500 {
    font-weight: 500;
}