@media screen and (min-width: 992px) 
{
    header{
        height: 326px; 
    }
    .fonctionnement-container
    {
        flex-direction: row;
        justify-content: space-around;
    }
    .fonctionnement i{
        margin-right: 15px;
        margin-left: 5px;
    }
    #RSTConainer
    {
        flex-direction: row;
        justify-content: center;
        padding-right: 25px;
        height: 480px;
    }
    footer
    {
    flex-direction: row;
    height: 114px;
    position: relative;
    .footerLogo{
        position: absolute;
        top: 10px;
        left: 80%;
        margin-top: 10px;
    }
    h4{
        margin: 21px 25px;
    }
    }
    nav {
        display: flex;
        flex-direction: row;
        margin-left: 7%;
    }
    
}
