.fonctionnement
    {
    @extend %width100;
    @extend %text-center;
    display: flex;
    flex-direction: column;
    h2
    {
        @extend %fontS24;
        @extend %fontW700;
        text-align: start;
        justify-content: flex-start;
        margin-left: 3%;
    }
    i{
        margin-right: 15%;
    }
    margin-bottom: 25px;
    padding: 3%px;
}
.fonctionnement-container{
    display: flex;
    flex-direction: column;
    width: 100%;
}
