/* Colors */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&family=Roboto:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&family=Roboto:wght@300;400;500&family=Shrikhand&display=swap");
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.explor, .localisation {
  text-align: center;
}

.Restaurants, .fonctionnement, .localisation, .logo {
  width: 100%;
}

body, .fonctionnement button {
  font-family: "Roboto", sans-serif;
}

footer h1, .logo {
  font-family: "Shrikhand", sans-serif;
}

.explor p {
  font-weight: 300;
}

footer h1 {
  font-weight: 400;
}

footer h4, .fonctionnement button, .explor .buttonPink, .localisation {
  font-weight: 500;
}

.Restaurants h2, .fonctionnement h2, .explor h2 {
  font-weight: 700;
}

footer h4, .fonctionnement button, .explor .buttonPink {
  font-size: 16px;
}

.Restaurants h2, .fonctionnement h2, .explor h2 {
  font-size: 24px;
}

footer h1 {
  font-size: 30px;
}

.logo {
  position: relative;
  height: 50px;
  font-weight: 500;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}

h1 {
  font-size: 30px;
}

.localisation {
  background-color: #EAEAEA;
  color: #353535;
  height: 30px;
  justify-content: center;
  padding-top: 10px;
}

.smallIc {
  margin-right: 5px;
}

.explor {
  background-color: #F7F7F7;
  padding: 5%;
}
.explor h2 {
  margin: 0 5%;
}
.explor p {
  margin: 0;
  padding: 5% 5%;
}
.explor .buttonPink {
  width: 65%;
  background-image: linear-gradient(to top, #9356DC, #FF79DA);
  color: white;
  height: 50px;
  border-radius: 25px;
  border: none;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}
.fonctionnement h2 {
  text-align: start;
  justify-content: flex-start;
  margin-left: 3%;
}
.fonctionnement button {
  margin: 5px 9%;
  border-radius: 25px;
  height: 72px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  text-align: start;
  padding-left: 10%;
  background-color: #F7F7F7;
  border: none;
}
.fonctionnement i {
  margin-right: 15%;
}

.carteRestaurant {
  height: 251px;
  border-radius: 15px;
  width: 88%;
  margin: 5% auto;
  border: solid 1px #F7F7F7;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}
.carteRestaurant img {
  width: 100%;
  height: 75%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 15px 0px 0px;
}

.restauCarteContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.restauCarteContainer .infosRestau {
  width: 75%;
}
.restauCarteContainer .infosRestau p {
  margin: 10px 0px 0px 5px;
  line-height: 1em;
}
.restauCarteContainer .infosRestau h4 {
  line-height: 1em;
  margin: 10px 0px 5px 5px;
}
.restauCarteContainer .heartIc {
  margin-right: 15px;
}

.Restaurants {
  display: flex;
  flex-direction: column;
  background-color: #F7F7F7;
}
.Restaurants h2 {
  text-align: start;
  justify-content: flex-start;
  margin-left: 3%;
}

footer {
  background-color: #353535;
  color: white;
  padding-left: 3%;
  margin: 0;
}
footer h1 {
  margin: 0;
}
footer h4 {
  line-height: 2.5em;
  margin: 5px 0px 0px 0px;
}
footer .smallIc {
  margin-right: 10px;
}

.fa-heart {
  border-radius: 50%;
  padding: 0.2em;
}

.fa-heart::before {
  font-weight: bold;
  transition: color 1.5s ease-in-out;
}

.fa-heart:hover::before {
  color: red;
  cursor: pointer;
}

body {
  background-color: #FFFFFF;
  margin: 0 auto;
  flex-direction: column;
}/*# sourceMappingURL=style.css.map */