@import "./utils/variables";
@import "./utils/mixins";
@import "./utils/placeHolders";
@import "./components/butons";
@import "./layouts/header";
@import "./layouts/research";
@import"./layouts/fonctionnement";
@import "./components/cartes";
@import "./layouts/restaurants";
@import "./layouts/footer";
@import "./components/animations.scss";

body{
    background-color: $white;
    margin: 0 auto;
    @extend %roboto;
    flex-direction: column;
}


