@import "./utils/variables";
@import "./utils/mixins";
@import "./utils/placeHolders"; 
body{
    background-color: $white;
    margin: 0 auto;
    @extend %flex-center;
    @extend %roboto;
    flex-direction: column;
}
.logo{
    @extend %shriklands;
    @extend %flex-center;
    height: 50px;
    font-weight: 00;
    font-size: 30px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}
.localisation{
    @extend %fontW500;
    background-color: $grey;
    color: $darkGrey;

}